/******************/
/****** body ******/
/******************/
body {
 text-align: right;
 direction: rtl;
 font-family: 'Arial (Hebrew)', Arial;
 padding-bottom: 38px; 
 background: #fff 
}
h1 {
 font-size: 15px;
 font-weight: bold;
 border-bottom: 1px solid #cbcbcb;
 margin-bottom: 12px;
 padding-bottom: 4px;
}

h2 {
 font-size: 12px;
 font-weight: bold;
 color: #005ca0;
 }

p {
 margin-bottom: 12px;
 text-align: justify; 
 }
.margins {
  width: 900px;
  margin: 0;
  padding-bottom: 30px;
 }
a {
    text-decoration: none;
 }
a:hover { 
    text-decoration: underline; 
    color: #005CA0;
 }
a:focus{
 outline: thin dotted silver;
}
a:active{
border-width:1px;
border-style:dotted;
}
ul li { 
padding:0 12px 0px 0px; 
list-style: none;
margin-left:0px; 
min-height:auto;
margin-bottom: 3px;
 }
/*** heder ***/
.heder{
 float: right;
 width: 122px;
 margin-left: 22px;
 background-color: #a5a5a5;
}

nav > ul{
 border-top: 1px solid #dedede;
}
nav > ul > li .dropdown{
 display: block;
 width: 122px; 
 min-height: 36px; 
 position: relative;

} 
nav > ul > li> a{
 display: block;
 width: 110px;
 height: 36px; 
 overflow:hidden;
 padding-right: 12px; 
 font-size: 13px;
 margin-bottom: 4px; 
 color: #5c5c5c;
 line-height: 32px;
 }

 .inner{
 display: none; 
 position: absolute;
 background-color:rgba(128, 128, 128, 0.4);
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
      
 }
 .inner a{
  display: block;
 }
 .inner:hover{
    background-color:rgba(128, 128, 128, 0.4);
 }

 .dropdown:hover .inner {
    display: block;
  }
  .dropdown:hover {
    background-color: #3e8e41;
  }
.sep{
 width: 4px;
 height: 21px;
 margin: 0 16px;
 color: #000000;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }

  
