/******************/
/****** body ******/
/******************/
body {
 text-align: right;
 direction: rtl;
 font-family: 'Arial (Hebrew)', Arial;
 padding-bottom: 38px; 
 background: #fff 
}
h1 {
 font-size: 15px;
 font-weight: bold;
 border-bottom: 1px solid #cbcbcb;
 margin-bottom: 12px;
 padding-bottom: 4px;
}

h2 {
 font-size: 12px;
 font-weight: bold;
 color: #005ca0;
 }

p {
 margin-bottom: 12px;
 text-align: justify; 
 }
.margins {
  width: 900px;
  margin: 0;
  padding-bottom: 30px;
 }
a {
    text-decoration: none;
 }
a:hover { 
    text-decoration: underline; 
    color: #005CA0;
 }
a:focus{
 outline: thin dotted silver;
}
a:active{
border-width:1px;
border-style:dotted;
}
ul li { 
padding:0 12px 0px 0px; 
list-style: none;
margin-left:0px; 
min-height:auto;
margin-bottom: 3px;
 }

/*** heder ***/
.heder{
    float: right; 
    margin-left: 22px;
    background-color: #a5a5a5;
    width: 100%;
    height: 105px;
    position: relative;
   }
   .heder::after{
        content: "";
        clear: both;
        display: table;
   }
   .dropdown > .inner > li > a{
    font-size: 12px;
    font-weight: bold;
    color: white;
   }
   .dropdown{
      float: right; 
   }
 .dropdown::after{
content: "";
 clear: both;
display: table; 
 }
   
   .logo{
    display: block; 
    width: 142px; 
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
     }
   
   nav > ul{
    border-top: 1px solid #dedede;
   }
   
   nav > ul > li .dropdown{
    display: block;
    width: 122px; 
    min-height: 36px; 
    position: relative;
   } 
   
   nav > ul > li> a{
    font-size: 12px;
    color: white;
    }
   
    .inner{
    display: none; 
    background-color:rgba(128, 128, 128, 0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .inner a{
     display: block;
    }
    .inner:hover{
       background-color:rgba(128, 128, 128, 0.4);
    }
   
    .dropdown:hover .inner {
       display: block;
     }
   
   .dropdown:hover {
    background-color: #3e8e41;
     }
   
   .sep{
    width: 4px;
    height: 21px;
    margin: 0 16px;
    color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    float: right; 
    }

  /******* rectangle *******/

  div .upper-rectangle{
  display: flex;
  Justify-content:flex-end;
  }

  .rectangle{
    margin-top: 130px;
    width: 293px;
    height: 355px;
    padding: 7px;
    position: relative;
  }

  .text-box{
    position: absolute;
    top:257px;
    right:14px;
  }
.rectangle > h3{
 position: absolute;
 top:248px;
 right:22px;
 color:white;
 font-size: 14px;
 font-weight: bold;
 }
 .rectangle > p{
  position: absolute;
  width: 230px;
  top:280px;
  right:22px;
  color:white;
  font-size: 12px;
  margin-top: 4px;
  line-height: 1;
 }

 .rectangle > a{
  position: absolute;
  width: 230px;
  top:330px;
  right:200px;
  color:white;
  font-size: 12px;
  margin-top: 4px;
  line-height: 1;
 }

 .rectangle > a:hover{
   color: #005ca0;
   text-decoration: underline;
 }
  .rectangle > img{
    border-radius: 0 0 10% 0;
  }

  /*** baners ***/

  .baners{
    display: flex;
    Justify-content:flex-end;
  }
  .cube{
    position: relative;
    padding:6px;
    margin-top: 6px;
  }
 .cube> h3{
  position: absolute;
  top:2px;
  right: 26px;
  font-size: 14px;
  color: #575757;
 }
 .cube> .pic{
   position: absolute;
   z-index:1;
   right:23px;
   top:50px;
   width:250px;
   height:110px;
 }
  
 .cube> a{
  position: absolute;
  right:180px;
  top:180px;
  color: #72716d;
  font-size: 13px;
  text-decoration: underline;
 }
 .cube> a:hover{
   color: #005ca0;
 }
 #mapa{
  position: absolute;
  z-index:1;
  right:200px;
  top:45px;
  width:73px;
  height:168px;
 }
.cube> ul> li:first-child> a{
  position: absolute;
  right:42px;
  top:60px;
  color: #72716d;
  font-size: 14px;
}
.cube> ul> li:nth-child(2)> a{
  position: absolute;
  right:40px;
  top:80px;
  color: #72716d;
  font-size: 13px;
}
.cube> ul> li:nth-child(3)> a{
  position: absolute;
  right:41px;
  top:100px;
  color: #72716d;
  font-size: 13px;
}

.cube> ul> li> a:hover{
  color: #005ca0;
  
}
.cube> ul> li> a{
  text-decoration: underline;
}

footer{
  width: 100%;
  height: 38px;
  position: fixed;
  z-index: 999999;
  bottom: 0px;
  background-color: #808080;
}
.manu{
  font-size: 14px;
  margin-top: 16px; 
}
.manu> ul{
  color: #fff;
}
.manu> ul> li>a{
  float: right;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  line-height: 1;

}

.manu> ul> li>a::after{
  clear: both;
}
.manu> ul> li>a:hover{
  color: #005ca0;
}
#red{
  color: red;
}
#red:hover{
  color: #005ca0;
}
.manu> ul> li>.sep{
  margin: 0 5px;
  color: #fff;
  
}


